footer {
    padding: 5px;
    text-align: center;
    color: $darkBackground;
    background-color: $lightShadow;
}

footer a {
    text-transform: none;
    font-family: $bodyFont;
    font-weight: 400;
    color: $darkBackground;

    transition: all 0.2s;
}

footer a:hover,
footer a:focus {
    color: $junoColor;
}