// first minor breakpoint 
@media (max-width: 1165px) {
    //index page breakpoint styles
    .index-header {
        height: 85vh;
    }
    .new-additions .text-content {
        margin: auto;
        padding-right: 0px;
    }
    .new-feature .text-content {
        margin: auto;
        padding-left: 0px;
    }
    .new-additions img {
        box-shadow: 2vw 2vw $lightShadow;
    }
    .new-feature img {
        box-shadow: -2vw 2vw $lightShadow;
    }
    //contact page breakpoint styles
    .contact-page form {
        width: 65%;
    }
}
//second minor breakpoint
@media (max-width: 1025px) {
    //index page breakpoint styles
    .index-header {
        height: 75vh;
    }

    .about {
        padding: 115px 60px 115px;
    }
    
    .container {
        height: 570px;
        justify-content: space-between;
        padding: 25px 0;
    }

    .container .text-content {
        width: 55%;
    }

    .container .text-content p {
        margin: 12px 0 20px;
    }

    .new-additions .image-container,
    .new-feature .image-container {
        position: static;
        width: 35%;
    }

    .monthly-profile img {
        box-shadow: 2vw 2vw $lightShadow;
    }

    //blog page breakpoint styles
    .blog-post,
    .blog-comments {
        padding-right: 0;
        margin-right: 60px;
    }
}
//first major breakpoint
@media (max-width: 900px) {
    //global breakpoint styles
    .wrapper {
        width: 90%;
    }
    //mainNavigation breakpoint styles
    .main-nav ul{
        justify-content: center;
    }
    //index page breakpoint styles
    .index-header {
        height: 70vh;
    }
    .page-directory {
        padding-top: 100px;
    }
    .monthly-profile .text-content {
        margin-left: 60px;
    }
    .monthly-profile .wrapper {
        padding: 60px 0 60px;
    }
    //blog page breakpoint styles
    .blog-header h1 {
        margin-right: 0;
    }
    .blog-main {
        flex-direction: column;
    }
    aside {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        background: rgba(15, 97, 78, 0.3);
    }
    .aside-image {
        display: none;
    }
    .aside-about,
    .aside-posts {
        width: 50%;
        margin: 0 auto;
    }
    .aside-posts {
        width: 35%;
    }
    .aside-posts li {
        line-height: 1.4rem;
    }

    .aside-about p {
        padding: 0;
        line-height: 2.2rem;
    }
    .aside-posts li:first-child {
        padding-top: 0;
    }
    
    .blog{
        width: 95%;
        margin: 0 auto;
    }

    .blog-post,
    .blog-comments {
        margin: 0;
    }
    //contact page breakpoint styles
    .contact-header {
        height: 50vh;
    }
    .contact-header h1 {
        margin: auto;
    }
    .contact-page {
        flex-direction: column-reverse;
    }
    .contact-info {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: auto auto 30px auto;
    }
    a[href*="mail"] {
        padding: 0;
    }
    .social-nav {
        display: flex;
        align-items: center;
    }
    .social-nav .fab {
        padding: 30px;
        font-size: 5rem;
    }
    .contact-page form {
        width: 100%;
        margin: 0 auto;
        top: -70px;
        right: 0;
    }
}
//third minor breakpoint
@media (max-width: 700px) {
    .wrapper {
        max-width: 95%;
    }
    //index page breakpoint styles
    .index-header h1 {
        position: relative;
        z-index: 1;
    }
    .page-directory li {
        width: 100%;
    }
    //blog page breakpoint styles
    .blog-header {
        height: 50vh;
    }
    .blog-header h1 {
        margin: auto;
    }
    aside {
        padding: 10px;
    }

    .aside-about {
        width: 45%;
        margin: 0 auto 0 0;
    }
    .aside-posts {
        width: 45%;
    }
}
//second major breakpoint
@media (max-width: 600px) {
    //navigation burger menu 
    .nav-links {
        position: absolute;
        z-index:-1;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        background-color: $darkBackground;
        opacity: 98%;
        flex-direction: column;
        transform: translateY(-100%);
        @include transition;
    }

    //add this class on toggle with JS function
    .nav-open {
    transform: translateY(0%); 
    z-index: 10;
    }

    .nav-links li {
        margin: 25px auto;
        opacity: 0;
    }

    .burger {
        display: block;
    }

    //index page breakpoint styles
    .index-header {
        height: 50vh;
    }
    .index-header h1 {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: calc(4rem + 5.6vw);
        line-height: 8rem;
    }
    .header-image {
        display: none;
    }
    .about {
        padding: 60px 30px 50px 30px;
    }
    .container {
        height: auto;
        padding-top: 35px;
    }
    .new-additions {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .new-feature {
        flex-direction: column-reverse;
    }
    .new-feature img {
        box-shadow: 2vw 2vw $lightShadow;
    }

    .new-additions .image-container,
    .new-feature .image-container  {
        width: 80%;
        margin: 0 auto;
    }
    .new-additions .text-content,
    .new-feature .text-content {
        width: 80%;
        margin: 25px auto;
        text-align: left;
    }
    .banner-container {
        display: none;
    }

    .page-directory {
        padding-top: 60px;
        padding-bottom: 0;
    }
    .monthly-profile {
        border-top: 3px solid $lightShadow;
    }

    .monthly-profile .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0 50px;
    }
    .monthly-profile .text-content {
        width: 90%;
        margin: auto;
    }
    .monthly-profile .image-container {
        width: 90%;
        height: auto;
        margin: auto auto 40px auto;
    }
    .gallery .wrapper {
        flex-wrap: wrap;
        padding: 0;
    }
    .gallery-item {
        margin: 20px auto;
        width: 90%;
    }
    .gallery-item:first-child,
    .gallery-item:last-child {
        margin: 40px auto 20px;
    }
    //footer breakpoint styles
    footer .footer-divider {
        display: none;
    }
    footer a {
        display: block;
    }
    //blog page breakpoint styles
    .blog-post {
        padding-left: 20px;
        padding-right: 20px;
    }
    .blog-comments h2 {
        text-align: center;
    }
    .posted-comments,
    .blog-comments h2 {
        padding-left: 0;
    }
    //form breakpoint styles
    .flexForm {
        flex-wrap: wrap;
    }
    input {
        width: 100%;
    }
    
    .flexForm input:first-of-type {
        margin-bottom: 20px;
    }
    //contact page breakpoint styles
    .social-nav .fab {
        font-size: 2.7rem;
        padding: 25px;
    }
    a[href*="mail"] {
        font-size: 1.8rem;
    }
    address a {
        font-size: 1.4rem;
    }
    //contact page form breakpoint styles
    .contact-page form {
        padding: 22px;
    }
    .contact-page input[type="text"] {
        width: 100%;
    }
    .contact-page input[type="email"] {
        width: 100%;
        margin: 0;
    }
}
//third major breakpoint 
@media (max-width: 450px) {
    //index page breakpoint styles
    .index-header h1 {
        max-width: 80%;
    }
    aside {
        flex-direction: column;
    }
    .aside-about,
    .aside-posts {
        width: 90%;
    }
    .aside-about {
        margin-right: 0;
        margin: 0 auto;
    }
    .aside-posts {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    //contact page breakpoint styles
    .contact-header h1 {
        margin-bottom: 100px;
        line-height: 6rem;
    }
}