$primaryFont: 'Barlow', sans-serif;

$bodyFont: 'Lato', sans-serif;

$lightBackground: #0F614E;

$darkBackground:  #0C1423;

$lightShadow:  #86E0F9;

$textColor: #FFFFFF;

$junoColor: #C23400;

$blogFormHover:  #15243f;

$contactFormHover: #189477;

@mixin transition {
    transition: all 0.5s ease-in-out;
}